.fetch__msg {
    position: relative;
    width: 100%;
    height: 100%;
    grid-column: span 3;
    grid-row: span 2;
    color: var(--secondary);
    font-size: 18px;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    place-content: center;
    overflow: hidden;
    z-index: 1;
    background-color: var(--secondary);

    .msg__inner {
        position: relative;
        width: 26vw;
        height: 26vh;
        background-color: var(--accent-gold);
        color: var(--secondary);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
            content: '';
            position: absolute;
            display: block;
            width: 44vw;
            height: 40vh;
            background-image: repeating-linear-gradient(
                45deg,
                var(--accent-gold),
                var(--accent-gold) 6px,
                var(--secondary) 6px,
                var(--secondary) 40px
            );
            background-position: 0 0;
            z-index: -2;
            animation: movestripe 1s linear forwards;
            z-index: -1;
        }
    }
}