@keyframes movestripe {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100 0;
    }
}

.anim-on-click {
    animation: mousestripe 1s infinite;
}

.hide {
    display: none;
}

.slide-up {
    bottom: 0;
    transform: translateY(0);
}

.accent {
    background-image: var(--grad-gold) !important;
}

.blurred {
    filter: blur(1px) brightness(90%) grayscale(100%);
}