.logo {
    width: calc(100% - var(--pad));
}

.img {
    object-fit: cover;
}

.thumbnail {
    filter: brightness(50%) blur(0px) grayscale(100%) contrast(110%);
    transform: scale(1);
    cursor: pointer;
    transition: var(--anim);
}

.black {
    color: var(--secondary);
}

.centered {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.group {
    position: relative;
    width: min-content;
    min-width: 100px;
    height: 40px;
    min-height: 40px;
    background-color: red;
    display: flex;

    .btn--wide {
        border: none;
        outline: none;
        transition: var(--anim);

        &:hover {
            transform: scale(1.06);
        }
    }
}

.item__group {
    overflow: hidden;
    transition: var(--anim);
    border: 1px solid #141414;
    box-shadow: 0 0px 30px 0px rgba(255, 255, 255, 0.1);
    transition: var(--anim);
    transition-duration: 1s;

    .item__image {
        filter: blur(0px) brightness(40%) grayscale(100%);
    }

    &:hover {
        .item__image {
            transition-duration: 8s;
            transform: scale(1.2);
            filter: blur(0px) brightness(40%) grayscale(100%);
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: -50%;
        width: 200%;
        height: 100%;
        background: repeating-linear-gradient(
            45deg,
            var(--gray),
            var(--gray) 6px,
            rgba(0, 0, 0, 1) 6px,
            rgba(0, 0, 0, 1) 40px
        );
        opacity: 0;
        transition: var(--anim);
        transition-duration: 1s;
        z-index: 0;
    }

    &:hover::after {
        left: 0;
        opacity: 0;
        transition: var(--anim);
    }
}