.container--events {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        right: calc(var(--pad) * -1);
        top: 0;
        width: 20vw;
        height: inherit;
        background-image: linear-gradient(to left, var(--secondary), transparent);
        filter: blur(1px);
        transform: scale(1.2);
        z-index: 10;
    }
}

.events {
    --head-margin: calc(var(--sect-40-width) / 4 - var(--pad));
    --head-margin: var(--pad);
    position: relative;
    display: flex;
    width: var(--main-width);
    height: 46vh;
    min-height: 220px;
    align-items: flex-end;
    margin-left: var(--head-margin);
    padding: 1rem;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.event {
    position: relative;
    flex-basis: 20vw;
    min-width: 200px;
    height: 90%;
    flex-shrink: 0;
    min-height: 220px;
    grid-column: auto;
    overflow: hidden;
    cursor: pointer;
    background-color: var(--secondary);
    // outline: 1px solid var(--accent-gold);
    transition: var(--anim);
    filter: brightness(70%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--pad);
    z-index: 1;

    &:not(:nth-child(1)) {
        margin-left: -2rem;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, rgba(black, 0.8), transparent);
        z-index: -1;
    }

    &__bg {
        position: absolute;
        top: -2px;
        left: -2px;
        width: 101%;
        height: 101%;
        object-fit: cover;
        filter: brightness(20%) grayscale(100%);
        z-index: -1;
    }

    &__details {
        min-height: 60%;
        text-align: start;
    }

    &__name {
        color: var(--gray);
    }

    &:nth-child(2) {
        filter: brightness(80%);
    }

    &:nth-child(3) {
        filter: brightness(70%);
    }

    &:nth-child(4) {
        filter: brightness(60%);
    }

    &:nth-child(5) {
        filter: brightness(50%);
    }
}

.event--active, .event:focus-within {
    transform: scale(1.06) translateY(-0.5rem);
    background-color: var(--secondary);
    box-shadow: -3px 3px 16px rgba(gold, 0.16);
    filter: brightness(105%) !important;
    z-index: 5;

    .event__bg {
        filter: brightness(40%) grayscale(0%);
        transform: scale(1.06);
    }

    &~* {
        filter: brightness(0.8) !important;
    }
}

.event:nth-child(4).event--active {
    margin-left: -10vw;
}

.event:nth-child(5).event--active {
    margin-left: -30vw;
}