.bottom 
    bottom 0
.top 
    top 0
.left  
    bottom 0
.right
    right 0
.inner
    width 100%
    height 2em
    background-color var(--test-3)
    align-self: center
    &--flex
        display flex
        justify-content: space-between