.top-nav {
    position: fixed;
    width: calc(100% - var(--side-nav-width));
    height: 80px;
    top: 0;
    right: 0;
    padding: 0 var(--pad);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav__link {
    display: flex;
    width: 100px;
    padding: 4px 8px;
    align-items: center;
    font-weight: bold;
}

.abs--right {
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    display: flex;
    width: 100px;
    padding: 8px;
    font-size: 15px;
    box-shadow: 0 1px 40px 4px rgba(255, 255, 255, 0.1), 0 1px 40px 4px rgba(0, 0, 0, 1);
}

.link {
    width: max-content;
    height: max-content;
    margin: auto;
    background: var(--secondary);
    color: var(--gray);
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
}

.btn {
    position: relative;
    background-color: transparent;
    border: 4px solid var(--secondary);
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: var(--primary);
    padding: 6px 82px;
    box-shadow: -4px 4px 0 0 var(--accent-gold);
    margin-top: 1em;

    span.right {
        color: var(--secondary);
        right: 8px;
        position: absolute;
    }
}

.btn--primary {
    border: none;
    box-shadow: -4px 4px 0 0 var(--secondary);

    span {
        margin-left: -1rem;
    }

    &::after {
        content: '';
        position: absolute;
        height: 4px;
        width: 40px;
        background-color: var(--secondary);
        right: 0;
        top: calc(50% - 2px);
        transform-origin: 50%;
        transform: translate(1em, -1em) rotate(45deg);
        box-shadow: 0 8px 0 0 var(--secondary), 0 -8px 0 0 var(--secondary);
    }
}

.btn--wide {
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    width: 100%;
    height: 100%;
    font-family: var(--font);
    background-color: var(--accent-gold);
    // border-left 2px solid var(--secondary)
    border: 2px solid var(--accent-gold);
}

.social {
    --h: 30px;
    position: absolute;
    width: width = 60px;
    height: var(--h);
    right: 0px;
    top: calc(50% - var(--h) / 2);
    display: grid;
    grid-template: repeat(3, 6px) / 1fr;
    grid-gap: 4px;

    &__icon {
        background-color: var(--secondary);
        width: 100%;
    }
}

.btn--flx {
    background-color: var(--secondary);
    padding: 4px;
    padding-left: 24px;
    margin-left: 12px;
    width: 200px;
}

.mid {
    position: absolute;
    width: var(--side-nav-width);
    height: 400px;
    top: calc(50vh - 200px);
    margin: auto;
    padding: var(--pad);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.play--icon {
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    border-radius: 50%;
    border: none !important;
    background: rgba(0, 0, 0, 0.15);
    z-index: 999;
    transform: rotateZ('45deg');
    transition: all 400ms;
}

.play--icon::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    margin: auto;
    clip-path: polygon(
        0 0,
        0 50%,
        0 100%
    );
    background-image: var(--grad-gold);
    transform: scale(0) translateX(10px);
    z-index: 9999;
}

.play--icon:hover::before {
    transform: scale(1) translateX(10px);
}

.play--icon:hover {
    transform: scale(1.2);
}

.play--icon:hover ~ .img {
    transition: var(--anim);
    animation-duration: 800ms;
}

.input {
    outline: none;
    border: none;
    padding-left: 0.5em;
    text-indent: 0.2em;
    text-align: left;
    color: var(--secondary);
    font-family: var(--font);
}

.inline__btn--play {
    width: 25px;
    height: 25px;
}