:root {
  --mp__widget-height: 80px;
}

ul, li {
  list-style: none;
  padding: 0;
}

.player-container {
  position: relative;
  margin: auto;
  // margin-left: calc(var(--pad) * -6);
  width: 100%;
  overflow: hidden;
  box-shadow: 0 1px 40px 0px rgba(255, 255, 255, 0.1);
}

.mp__widget {
  position: relative;
  width: inherit;
  height: 80px;
  background: var(--secondary);
  box-shadow: 0 0px 20px 0px rgba(255, 255, 255, 0.1);
  border: 1px solid var(--accent-gold);
  padding: 1em;
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-auto-flow: column;
  align-items: center;
  z-index: 10;
}

.widget__controls {
  padding-left: 2rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 60% 1fr auto;
  grid-gap: 18px;
  align-items: center;
  justify-content: space-between;
}

.mp__cover-art {
  width: 120px;
  height: calc(100% + 2em);
  margin-left: -1em;
  margin-right: 1em;
  filter: blur(1pt);
  background-color: #fff;
}

.artist-name {
  font-weight: bold;
}

.mp__song-name {
  font-weight: lighter;
}

.mp__icon {
  display: block;
  width: 18px;
  height: 18px;

  img {
    fill: var(--secondary);
  }
}

.mp__center {
  display: flex;
  align-items: center;
}

.volume {
  width: 15px;
  height: 15px;
  background-color: #141414;
}

.mp__progress {
  width: 100%;
  height: 4px;
  background-color: #141414;
  cursor: ew-resize;
}

.mp__progress--big {
  width: 100%;
}

.mp__progress--fill {
  display: block;
  width: 2%;
  margin-left: -5px;
  height: inherit;
  background-color: var(--accent-gold);
}

.mp__progress--fill::before {
  content: '';
  display: block;
  float: right;
  width: 10px;
  height: 10px;
  background-color: inherit;
  border-radius: 50%;
  margin-top: -3px;
}

.mp__icon-list {
  display: flex;
  justify-content: space-between;
}

.mp__songs {
  position: relative;
  width: calc(100% + 2px);
  min-height: 350px;
  height: 50vh;
  overflow: hidden;
  overflow-y: scroll;
}

.mp__song:empty {
  background-color: rgba(255, 255, 255, 0.1);
  background-image: repeating-linear-gradient(
    45deg,
    var(--accent-gold),
    var(--accent-gold) 6px,
    var(--secondary) 6px,
    var(--secondary) 40px
  );
  filter: blur(1px) grayscale(100%);
}

.mp__song {
  position: relative;
  max-width: 100%;
  width: calc(100% + 1em);
  height: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0 1em;
  display: grid;
  grid-template: 1fr / 100px minmax(150px, 1fr) minmax(100px, 1fr) 100px;
  align-items: center;
  cursor: pointer;
  filter: brightness(80%);
}

.song__artist {
  display: none;
}

.playing .song__artist {
  display: block;
  opacity: 0.9;
  margin-left: -1em;
  font-size: 0.7em;
  font-weight: lighter;
}

.song__duration {
  position: absolute;
  width: 100px;
  height: 1em;
  line-height: 1em;
  text-align: end;
  top: calc(50% - 0.5em);
  right: 1em;
}

.mp__song:hover {
  background-color: #141414;
}

.mp__song.playing {
  background-color: var(--gray);
  animation: playing var(--speed) ease-out forwards;
}

@keyframes playing {
  to {
    height: 70px;
  }
}

.mp__song.playing * {
  filter: brightness(100%);
  color: var(--secondary);
}

.mp__song.mp__song.playing .mp__icon {
  background-color: #fff;
}

.mp__song:not(.playing) {
  opacity: 0.9;
}

.inline__widget {
  width: 100%;
  height: 40px;
  padding: 0 18px;
  display: grid;
  align-items: center;
  grid-template-columns: 24px 1fr 40px;
  grid-gap: 24px;
  background-color: transparent;
  margin-left: -10px;
  border: 4px solid var(--secondary);
  box-shadow: -4px 4px 0 0 var(--accent-gold);
}

// Featured music player grid
.svg--pause {
  padding: 6px !important;
  padding-left: 8px !important;
  display: none;
}

.svg--play, .svg--pause {
  padding: 4px;
  stroke: var(--secondary);
  stroke-width: 4px;
  justify-content: center;
  align-items: center;
  fill: var(--accent-gold);

  &:hover {
    stroke: var(--accent-gold);

    * {
      fill: var(--secondary);
    }
  }
}

.isPlaying {
  border: none;
  background-color: var(--accent-gold);

  .svg--play {
    display: none;
  }

  .svg--pause {
    display: flex;
    stroke: none;
    fill: var(--secondary);
  }
}

.bar {
  width: 20px;
  height: 20px;
  position: fixed;
  bottom: var(--pad);
  right: var(--pad);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  background-color: var(--accent-gold);
  border-radius: 50%;
  box-shadow: 0 0 1px 2px var(--secondary);
  cursor: pointer;
  overflow: hidden;
  z-index: 9999;
  transform: translateX(calc(var(--pad) * 2));
  transition: var(--anim);
}

.bar--active {
  transform: translateX(0);

  svg {
    width: 100%;
  }
}

.mute::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 24px;
  top: 0;
  left: 0;
  transform-origin: top left;
  transform: rotate(-45deg);
  background-color: var(--secondary);
}

.bar:hover {
  transform: scale(1.5);
  transition: 0.4s transform;
}