.text {
  color: var(--secondary);
}

.text--light {
  color: var(--primary);
  opacity: 0.56 !important;
  line-height: 1.8rem;
}

.section__prehead {
  color: var(--accent-gold);

  &::after {
    content: '___';
  }
}

.section__head {
  width: 100%;
}

.head {
  font-family: 'druk super';
  font-size: calc(1.2rem + 0.6vmin);
  margin: 0;
  display: flex;
  flex: 1;
  color: var(--gray);
  text-transform: uppercase;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__head {
  font-size: 1.5rem;
  color: var(--secondary);
  text-shadow: -1px 1px 0 var(--accent-gold);
  background: -webkit-linear-gradient(#333, var(--secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--secondary);
}

.section__head::after {
  content: '';
  align-self: center;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  margin-left: 0.5em;
  margin-top: -0.1em;
  background-image: repeating-linear-gradient(
    45deg,
    var(--gray),
    var(--gray) 2px,
    var(--secondary) 2px,
    var(--secondary) 4px
  );
}

.section__subhead {
  font-size: 0.9em;
  font-weight: lighter;
  color: var(--gray);
  margin-bottom: 1rem;
}

.section__prehead {
  color: var(--accent-gold) !important;
  font-size: 0.8rem;
  opacity: 0.86;
}

.paragraph, .description {
  opacity: 0.86;
  font-size: 16px;
  font-weight: 300;
  text-transform: none;
}

.btn {
  color: var(--secondary);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  font-family: var(--font);
}

.link {
  font-family: oswald, sans-serif;
}

.accent {
  color: var(--secondary);
}