@font-face {
  font-family: "druk";
  src: url("../fonts/DrukTextWide-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "druk super";
  src: url("../fonts/DrukTextWide-SuperItalic.ttf") format("truetype");
}
