:root {
  --primary: #fff;
  --secondary: #193549;
  --secondary: #060709;
  --gray: #b9b9b9;
  --accent1: #feae01;
  --accent1-grad: linear-gradient(to right, #feae01, #feae00);
  --accent2: #f00;
  --twvh: 0;
  --after-top: calc(100% - var(--deco-bar));
  --after-left: calc(var(--sect-40-width) / 2);
  --twvh: 20vh;
  --snug: calc(100% - var(--pad) * 4 - 1em);
  --sect-40-width: calc(var(--side-nav-width) * 2);
  --sect-60-width: calc(100% - var(--sect-40-width) - var(--pad));
  --side-nav-width: 4vw;
  --side-nav-width: 15vw;
  --stripe-height: 40vh;
  --main-width: calc(100% - var(--side-nav-width));
  --deco-bar: calc(var(--bar) / 3);
  --bar: 80px;
  --pad: var(--deco-bar);
  --sect-40-width: calc(var(--side-nav-width) * 2);
  --sh: -1px 1px 10px 5px rgba(0,0,0,0.2);
  --speed: 0.218s;
  --prim-anim: var(--speed) all ease-out;
  --font: Oswald;
}
* {
  color: var(--secondary);
}
body {
  height: 100%;
  background-color: var(--secondary);
  cursor: crosshair;
}
.hero__head {
  font-family: 'druk super';
}
.debug:nth-of-type(odd) {
  background-color: #f00;
}
.debug:nth-of-type(odd) * {
  border: 1px solid #800080;
}
.debug:nth-of-type(even) {
  background-color: #008000;
}
.debug:nth-of-type(even) * {
  border: 1px solid #ee82ee;
}
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  font-family: 'oswald';
  overflow-x: hidden;
}
a,
ul,
li,
button {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  outline: none;
  appearance: none;
  border: none;
}
button {
  cursor: pointer;
  outline: none;
  border: none;
  appearance: none;
}
.bottom {
  bottom: 0;
}
.top {
  top: 0;
}
.left {
  bottom: 0;
}
.right {
  right: 0;
}
.inner {
  width: 100%;
  height: 2em;
  background-color: var(--test-3);
  align-self: center;
}
.inner--flex {
  display: flex;
  justify-content: space-between;
}
.inner * {
  align-self: center;
}
.logo {
  position: relative;
  display: flex;
  color: var(--accent1);
  background-color: var(--secondary);
}
.logo svg {
  width: 160px;
  height: 40px;
  padding: 4px;
}
.logo::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 250%;
  margin-top: -25%;
  margin-left: -50%;
  z-index: -1;
  background-image: repeating-linear-gradient(45deg, var(--accent1), var(--accent1) 6px, var(--secondary) 6px, var(--secondary) 40px);
  background-position: 0 0;
  background-repeat: repeat-x;
  animation: movestripe 1s linear infinite;
}
.bg {
  position: absolute;
  width: 100%;
  right: 0px;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  filter: grayscale(100%) brightness(80%);
  background-size: 100px 100px;
}
.nav--left {
  position: fixed;
  left: 0;
  width: var(--side-nav-width);
  height: 100%;
  z-index: 9999;
  background-color: var(--secondary);
  text-transform: uppercase;
}
.nav--left * {
  color: var(--gray);
}
.split {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top: calc(50vh - 9px);
  margin-left: var(--pad);
  box-shadow: 0 -3px 0 0 var(--gray), 0 3px 0 0 var(--gray), 0 9px 0 0 var(--gray);
  transform: rotate(45deg);
}
.main {
  position: absolute;
  right: 0;
  width: var(--main-width);
  height: 100%;
}
.head {
  height: 100vh;
}
.wide {
  width: 100vw;
  background-color: var(--test-2);
}
.sect-40 {
  width: var(--sect-40-width);
  height: 100%;
  display: flex;
}
.nav__span {
  position: absolute;
  width: 100%;
  height: var(--bar);
  padding: var(--pad);
  display: flex;
}
.nav__span:nth-of-type(2) {
  background-color: var(--primary);
}
.icon {
  width: var(--deco-bar);
  height: var(--deco-bar);
  cursor: pointer;
}
.col {
  position: relative;
  display: flex;
  flex-basis: 50%;
  padding-bottom: var(--pad);
}
.split ~ .bottom {
  background-image: repeating-linear-gradient(45deg, var(--accent1), var(--accent1) 6px, var(--secondary) 6px, var(--secondary) 50px);
  height: 500px;
  background-position: 0 0;
  animation: movestripe 1s linear infinite;
}
.pad--top {
  margin-top: 2.5em;
}
.pad--top * {
  align-self: center;
}
.pad--top .pad__item {
  position: relative;
  display: flex;
  padding-right: 1em;
}
.pad--top .pad__item .icon {
  margin-right: 2em;
}
.pad--top .pad__item:first-child {
  font-size: 0.9em;
  margin-bottom: 25vh;
}
.arrow {
  position: relative;
  margin-left: 1.3em;
  width: 80px;
  height: $h;
  background-color: var(--secondary);
}
.hero {
  position: absolute;
  width: 200%;
  height: 40%;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transform: translateY(-4em);
}
.hero__txt {
  margin-bottom: 1em;
}
.hero__main {
  height: 80%;
  margin-top: 1.2em;
  margin-bottom: 0;
  font-size: 0.9em;
  font-weight: 300;
}
.hori {
  height: 2em;
  width: 200px;
  position: relative;
  display: flex;
  align-items: center;
}
.hori .text {
  font-weight: 400;
  color: var(--primary);
}
.hori::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: var(--secondary);
  z-index: -1;
}
.sect-60 {
  position: absolute;
  width: var(--sect-60-width);
  top: var(--pad);
  right: var(--pad);
  bottom: var(--pad);
  z-index: -1;
}
.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'roboto black';
}
.link__text {
  font-size: 0.9em;
}
.link--top-right {
  position: absolute;
  right: 0;
}
.right {
  position: absolute;
  right: 0px;
}
.mid-top {
  margin-top: calc(55%);
}
.r-90 {
  width: 1em;
  height: 100px;
}
.r-90 span {
  transform: translateX(-1.2em) rotate(-90deg);
}
.blur {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom, transparent, var(--primary));
  z-index: -1;
  opacity: 0.4;
  filter: blur(1px);
  overflow: hidden;
}
.container {
  --new-pad: calc(var(--pad) * 2);
  position: relative;
  widows: 100%;
  height: 115vh;
  padding: var(--new-pad);
  background-color: var(--secondary);
}
.container * {
  padding: 0;
  margin: 0;
}
.flex {
  display: flex;
}
.flex--col {
  flex-direction: column;
}
.flex--row {
  flex-direction: row;
}
.featured,
.playlists {
  margin-left: calc(var(--sect-40-width) / 2 - var(--pad));
  background-color: var(--secondary);
  width: calc(100% - var(--twvh) - var(--pad) * 2);
}
.featured > *,
.playlists > * {
  max-height: 100vh;
  margin: 8px 0;
}
.featured *,
.playlists * {
  color: var(--gray);
}
.featured__list,
.playlists__list {
  position: absolute;
  left: var(--twvh);
  right: calc(var(--pad) * 2);
  bottom: 100px;
  display: grid;
  grid-template-columns: repeat(3, minmax(140px, 1fr));
  grid-template-rows: repeat(2, 200px);
  grid-gap: 60px;
  grid-auto-flow: row;
}
.featured__list .item,
.playlists__list .item {
  background-color: #fff;
  position: relative;
  display: grid;
  grid-template: 200px 1.5em/1fr;
  grid-gap: 8px;
  flex-direction: column;
  justify-content: space-between;
}
.featured__list .item__group,
.playlists__list .item__group {
  position: relative;
  width: 100%;
  height: 100%;
}
.featured__list .item__caption,
.playlists__list .item__caption {
  display: flex;
  padding: 0 4px;
  justify-content: space-between;
  align-items: center;
}
.featured__list .item__caption .text,
.playlists__list .item__caption .text {
  flex: 99999;
}
.featured__list .item__caption .actions,
.playlists__list .item__caption .actions {
  flex: 2;
  position: relative;
  display: flex;
}
.featured__list .item__caption .actions .icon,
.playlists__list .item__caption .actions .icon {
  width: 10px;
  height: 10px;
  background-color: var(--gray);
}
.item__play {
  background-color: transparent;
  padding: 4px;
  box-shadow: 0 1px 40px 4px rgba(0,0,0,0.1);
}
.item__play svg {
  width: 100%;
  height: 100%;
}
.item__image {
  animation: movestripe 1s linear infinite;
  background-position: 0 0;
  background-repeat: repeat-x;
  background-image: repeating-linear-gradient(45deg, var(--gray), var(--gray) 6px, var(--secondary) 6px, var(--secondary) 40px);
  filter: grayscale(100%) brightness(40%);
  width: 100%;
  height: 100%;
}
.item__play {
  border: none;
}
.item__play:hover,
.item__play border-width: 0px,
.item__play background-image var(--accent1-grad),
.item__play svg {
  fill: transparent;
}
.playlist__list {
  width: 100%;
  height: var(--snug);
  background-color: var(--gray);
}
.controls {
  position: absolute;
  width: 50px;
  height: 150px;
  top: calc(60% - 75px);
  left: var(--twvh);
  display: flex;
  flex-direction: column;
}
.controls * {
  transition: var(--prim-anim);
}
.controls .prev,
.controls .next {
  flex: 1;
  background-color: var(--accent1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.controls .prev .icon,
.controls .next .icon {
  width: 20px;
  height: 20px;
}
.controls .prev:hover,
.controls .next:hover {
  opacity: 0.9;
}
.controls .prev:hover .icon {
  transform: translateY(-0.5em);
}
.controls .next:hover .icon {
  transform: translateY(0.5em);
}
.bg-gray {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: linear-gradient(to bottom, var(--secondary), var(--primary));
  z-index: 0;
}
.bg-gray::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}
.connect {
  position: absolute;
  left: 0;
  z-index: 2;
  max-width: calc(40% - var(--pad));
  height: calc(100% - var(--pad) * 2);
  margin-top: calc(var(--pad));
  padding: 0 var(--pad);
  padding-left: calc(var(--pad) * 3);
  padding-top: 16px;
  background-color: var(--secondary);
  box-shadow: 0 16px 0 0 var(--secondary);
}
.connect * {
  color: var(--gray);
}
.connect__links .l_item {
  align-items: center;
  position: relative;
}
.connect__links .l_item .click {
  margin: 0.8em 0;
  position: relative;
  display: flex;
  cursor: pointer;
}
.connect__links .l_item .click.active::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  margin-left: calc(var(--pad) * -1);
  background-image: var(--accent1-grad);
}
.connect__links .l_item .underscore {
  position: absolute;
  background-color: var(--gray);
  right: -0.5em;
  width: 0;
  height: 0;
  top: calc(50% - 2px);
}
.feed {
  position: absolute;
  width: calc(100% - 30% + var(--pad));
  height: calc(100% - var(--pad) * 2);
  left: calc(34% - var(--pad));
  margin-top: calc(var(--pad));
  z-index: 10;
  display: grid;
  grid-template-columns: 400px 1fr;
  transition: var(--tspeed) all ease-out;
  box-shadow: 0 16px 0 0 var(--secondary);
}
.feed::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--secondary);
  border-bottom: none;
  border-right: none;
  background-size: cover;
  z-index: -1;
}
.feed__item {
  position: relative;
  background-color: var(--gray);
  overflow: hidden;
}
.feed__item:hover:nth-of-type(odd) {
  border: 1px solid var(--accent1);
}
.feed__item:hover:nth-of-type(1) {
  border-top: none;
}
.feed__item:hover:nth-of-type(even) {
  border-top: 1px solid var(--accent1);
  border-bottom: 1px solid var(--accent1);
  border-left: 1px solid var(--accent1);
}
.feed__item:hover:nth-of-type(2) {
  border-top: none;
}
.feed__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.he {
  margin-left: calc(var(--sect-40-width) / 4 - var(--pad));
  background-color: var(--secondary);
  width: calc(100% - var(--twvh) - var(--pad) * 2);
}
.calender-events {
  width: 60%;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin-left: calc(var(--pad) * 2);
  background-color: var(--secondary);
  height: 100%;
}
.calender-events .event {
  width: 100%;
  height: 50px;
  padding: 6px 16px;
  filter: brightness(90%) blur(0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border-bottom: 1px solid #141414;
}
.calender-events .event:not(.active):hover {
  background-color: #141414;
}
.calender-events .event * {
  color: var(--gray);
}
.calender-events .event:not(.active) > .event__descr {
  display: none;
  height: 100px;
}
.calender-events .active {
  height: 100px;
  background-color: var(--gray);
  animation: active calc(var(--speed) * 2) ease-out forwards;
}
.calender-events .active > * {
  color: var(--secondary);
  display: block;
}
.click {
  transition: var(--prim-anim);
}
.click:not(.active):hover {
  filter: brightness(120%) opacity(0.7);
  transform: translateX(8px);
}
@-moz-keyframes active {
  to {
    height: 200px;
    filter: brightness(100%) blur(0px);
  }
}
@-webkit-keyframes active {
  to {
    height: 200px;
    filter: brightness(100%) blur(0px);
  }
}
@-o-keyframes active {
  to {
    height: 200px;
    filter: brightness(100%) blur(0px);
  }
}
@keyframes active {
  to {
    height: 200px;
    filter: brightness(100%) blur(0px);
  }
}
@font-face {
  font-family: 'druk';
  src: url("../fonts/DrukTextWide-Bold.ttf") format('truetype');
}
@font-face {
  font-family: 'druk super';
  src: url("../fonts/DrukTextWide-SuperItalic.ttf") format('truetype');
}
.logo {
  font-family: 'druk';
  font-size: 1.2em;
  font-weight: 600;
}
.section__prehead {
  color: var(--accent1);
}
.section__prehead::after {
  content: '___';
}
.section__head {
  font-family: 'druk super';
  font-size: 1.5em;
  height: 2.5em;
  display: flex;
}
.section__head::after {
  content: '';
  align-self: center;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  margin-left: 0.5em;
  margin-top: -0.1em;
  background-image: repeating-linear-gradient(45deg, var(--gray), var(--gray) 2px, var(--secondary) 2px, var(--secondary) 4px);
}
.section__subhead {
  transform: translateY(-1em);
  font-size: 0.9em;
  font-weight: lighter;
}
.white-text * {
  color: var(--gray);
}
.event__date {
  opacity: 0.6;
}
.event__descr {
  font-weight: 300;
  text-transform: none;
}
.section__prehead {
  color: var(--accent1) !important;
}
.paragraph,
.description {
  font-size: 0.9em;
  color: #565656;
}
.hero {
  position: relative;
  height: 40vh;
  width: 60vw;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 40%;
  justify-content: space-between;
  z-index: 2;
}
.hero * {
  color: var(--secondary);
  text-transform: uppercase;
}
.hero__main {
  position: relative;
  height: 80%;
  width: 100%;
}
.hero__main .btn {
  position: absolute;
  bottom: 0;
}
.hero__main > * {
  margin-bottom: 8px;
}
.hero__head {
  font-family: "druk super";
  text-transform: uppercase;
  text-shadow: -1px 1px 0 var(--accent1);
}
.bottom {
  background-image: repeating-linear-gradient(45deg, var(--accent1), var(--accent1) 6px, var(--secondary) 6px, var(--secondary) 40px);
}
.bgfull {
  background-image: url("../images/bg2.jpg");
}
.new {
  display: flex;
  background-color: var(--gray);
  justify-content: space-between;
}
.new::before,
.new + .gray::before {
  content: '';
  position: absolute;
  width: 242px;
  height: 100%;
  background-color: var(--secondary);
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.new > * {
  align-self: center;
  z-index: 10;
  font-weight: 400;
}
.context {
  width: 400px;
  margin-left: 42px;
}
.artist b::after {
  content: '___';
}
.song-name {
  font-family: 'druk super';
  font-size: 2em;
  font-weight: bold;
  width: 200px;
  margin-bottom: 32px;
}
.song-name div {
  background-color: var(--secondary);
  color: var(--primary);
  margin-bottom: 4px;
  padding: 0 8px;
  margin-left: -8px;
}
.song-name div:last-child {
  width: 90%;
}
.cover-art {
  position: relative;
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cover-art img {
  width: 380px;
  height: 100%;
  object-fit: cover;
  box-shadow: var(--sh);
}
.cover-art::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 380px;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
  left: calc(50% - 190px);
  z-index: 1;
  opacity: 0;
  transition: var(--prim-anim);
}
.cover-art:hover::before {
  transition: var(--prim-anim);
  opacity: 1;
}
.cover-art:hover::before .play--icon {
  border-color: var(--accent1);
  opacity: 1;
}
.cover-art .icon {
  z-index: 999;
  cursor: pointer;
  transition: var(--prim-anim);
}
.cover-art .icon svg {
  width: 100%;
  height: 100%;
}
.cover-art .img::hover {
  filter: grayscale(0%);
}
.cover-art .icon:hover {
  transition: var(--prim-anim);
}
.nprev,
.cnext {
  position: relative;
  border-radius: 50%;
  display: flex;
}
.nprev:hover {
  transform: scale(1.2) rotate(90deg);
}
.cnext:hover {
  transform: scale(1.2) rotate(-90deg);
}
.nprev {
  transform: rotate(90deg);
}
.cnext {
  fill: var(--gray);
  transform: rotate(-90deg);
}
.nprev::before,
.cnext::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.07);
  z-index: -1;
  filter: blur(1px);
  transform: scale(0);
  box-shadow: -1px 1px 10px 1px rgba(255,255,255,0.1);
  transition: var(--prim-anim);
}
.nprev:hover::before,
.cnext:hover::before {
  transform: scale(1.8);
  transition: var(--prim-anim);
}
.tags {
  border-top: 1px solid rgba(0,0,0,0.3);
  padding-top: 0.5em;
}
.genre,
.tags {
  margin-bottom: 1em;
  font-size: 0.9em;
  background-color: var(--primary);
}
.description,
.tags {
  margin-left: 2.9em;
  margin-bottom: 1em;
  background-color: var(--primary);
}
.player-widget {
  position: relative;
  width: 100%;
  height: 5px;
  margin-top: 2em;
  background-color: var(--secondary);
  border-radius: 0px;
  display: flex;
  text-align: center;
}
.player-widget::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
  background-color: var(--secondary);
  border-radius: 50%;
  margin-top: -3px;
  margin-left: 20%;
  box-shadow: var(--sh);
}
.gray {
  background-color: var(--gray);
}
.bw-filter {
  filter: grayscale(100%) contrast(120%);
}
.top-nav {
  position: fixed;
  width: calc(100% - var(--side-nav-width));
  height: 80px;
  top: 0;
  right: 0;
  padding: 0 var(--pad);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav__link {
  display: flex;
  width: 100px;
  padding: 4px 8px;
  align-items: center;
  font-weight: bold;
}
.abs--right {
  align-items: center;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  display: flex;
  width: 100px;
height
  padding: 8px;
  font-size: 15px;
  box-shadow: 0 1px 40px 4px rgba(255,255,255,0.1), 0 1px 40px 4px #000;
}
.btn {
  position: relative;
  width: 204px;
  height: 40px;
  background-color: transparent;
  border: 4px solid var(--secondary);
  cursor: pointer;
  text-transform: uppercase;
  z-index: 99999;
  font-weight: bold;
  font-size: 1.2em;
  font-family: Oswald;
  display: flex;
  align-items: center;
  background-color: var(--primary);
  padding: 4px 8px;
  box-shadow: -4px 4px 0 0 var(--accent1);
  margin-top: 1em;
}
.btn span.right {
  color: var(--secondary);
  right: 8px;
  position: absolute;
}
.btn--primary {
  border: none;
  box-shadow: -4px 4px 0 0 var(--secondary);
}
.btn--primary::after {
  content: '';
  position: absolute;
  height: 4px;
  width: 40px;
  background-color: var(--secondary);
  right: 0;
  top: calc(50% - 2px);
  transform-origin: 50%;
  transform: translate(1em, -1em) rotate(45deg);
  box-shadow: 0 8px 0 0 var(--secondary), 0 -8px 0 0 var(--secondary);
}
.social {
  --h: 30px;
  position: absolute;
  width: 60px;
  height: var(--h);
  right: 0px;
  top: calc(50% - var(--h) / 2);
  display: grid;
  grid-template: repeat(3, 6px)/1fr;
  grid-gap: 4px;
}
.social__icon {
  background-color: var(--secondary);
  width: 100%;
}
.email {
  background-color: var(--secondary);
  padding: 4px;
  padding-left: 24px;
  margin-left: 12px;
  width: 200px;
}
.mid {
  position: absolute;
  width: var(--side-nav-width);
  height: 400px;
  top: calc(50% - 200px);
  padding: var(--pad);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mid__links {
  margin: 0;
  padding: 0;
}
.mid__links .link {
  margin-bottom: 8px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.mid__links .link:last-child {
  margin: 0;
}
.mid__links .link .icon--menu {
  position: relative;
  background-color: var(--accent1);
  width: 60px;
  height: 4px;
  transform-origin: 50% 50%;
}
.mid__links .link .icon--menu::before,
.mid__links .link .icon--menu::after {
  content: '';
  position: absolute;
  display: block;
  width: 60px;
  height: 4px;
  background-color: var(--accent1);
  transform-origin: 50%;
}
.mid__links .link .icon--menu::before {
  transform: translateY(8px);
}
.mid__links .link .icon--menu::after {
  transform: translateY(16px);
}
.play--icon {
  position: absolute;
  width: 50px;
  height: 50px;
  display: flex;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  border-radius: 50%;
  border: 4px solid var(--accent1);
  border-bottom-color: var(--secondary);
  z-index: 999;
  transform: rotateZ('45deg');
  transition: var(--prim-anim);
}
.play--icon::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  margin: auto;
  clip-path: polygon(0 0, 0 50%, 0 100%);
  background-image: var(--accent1-grad);
  transform: scale(0) translateX(10px);
  z-index: 9999;
}
.play--icon:hover::before {
  transform: scale(1) translateX(10px);
}
.play--icon:hover {
  transform: scale(1.5);
  border-color: transparent;
  border-bottom-color: var(--accent1);
}
.play--icon:hover ~ .img {
  transition: 0.8s all ease-out;
}
.input {
  outline: none;
  border: none;
  padding-left: 0.5em;
  text-indent: 0.2em;
  text-align: left;
  color: var(--secondary);
  font-family: Oswald;
}
.inline__btn--play {
  width: 25px;
  height: 25px;
}
.svg--pause {
  display: none;
}
.svg--pause * {
  fill: var(--accent1);
}
.white {
  background-color: var(--primary);
}
.book-me {
  display: flex;
  align-items: center;
}
.book-me::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 250px;
  bottom: 0;
  left: 0;
  background: var(--secondary);
}
.almost-full {
  --padn: calc(42px + var(--pad));
  position: absolute;
  height: 80vh;
  left: var(--padn);
  right: var(--padn);
  background-color: var(--primary);
  box-shadow: var(--sh), 0 1px 40px 4px rgba(255,255,255,0.1);
  padding: var(--pad);
  display: flex;
  margin: auto;
  z-index: 999;
}
.form-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
}
.contact-form {
  position: absolute;
  width: 30%;
  height: calc(100% - var(--pad) * 2);
  right: calc(var(--pad) + 100px);
  background-color: transparent;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.contact-form * {
  z-index: 999;
}
.contact-form::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  z-index: 1;
  opacity: 0.5;
}
.contact-form p {
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  margin-bottom: 1em;
}
.contact-form .paragraph,
.contact-form .contacts,
.contact-form .input {
  margin-right: 2em;
}
.pre {
  color: var(--accent1);
}
.pre b::after {
  content: '__';
}
.chead {
  position: relative;
  font-family: 'druk super';
  font-weight: bold;
  margin-bottom: 32px;
  text-align: right;
}
.chead div {
  background-color: var(--secondary);
  color: var(--primary);
  font-size: 2em;
  margin-bottom: 4px;
  padding: 0 8px;
}
.chead div:first-child {
  width: 100%;
}
.contacts {
  width: 100%;
  border-top: 1px solid rgba(0,0,0,0.3);
}
.contact__item {
  display: flex;
  flex-direction: row-reverse;
  background-color: var(--primary);
}
.contact__item b {
  margin-left: 0.3em;
}
.modal {
  position: fixed;
  display: none;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 999999;
  transition: var(--prim-anim);
}
.modal__inner {
  position: absolute;
  width: 70%;
  height: 70vh;
  background-color: var(--primary);
  box-shadow: 0 0 40px 0px var(--secondary);
  top: 50%;
  left: 50%;
  margin-left: -35%;
  margin-top: -35vh;
  display: flex;
}
.modal__inner .img--bigger {
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}
.modal__inner button {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: transparent;
  padding: 0.5em 1em;
  font-family: Oswald;
  transition: var(--prim-anim);
}
.modal__inner button:hover {
  background-image: var(--accent1-grad);
}
.modal__inner .ctrls {
  position: absolute;
  width: 120%;
  background-color: #ffc0cb;
  display: flex;
  top: 50%;
  margin-left: -10%;
  justify-content: space-between;
}
.modal__inner .ctrls .icon {
  height: 50px;
  width: 100px;
  fill: var(--accent1);
}
.modal__inner .ctrls .icon:hover {
  fill: var(--secondary);
}
.modal__inner .ctrls .icon:first-of-type {
  left: 0;
  transform: rotate(90deg);
}
.modal__inner .ctrls .icon:last-of-type {
  right: 0;
  transform: rotate(-90deg);
}
.modal > * {
  z-index: 10;
}
.modal::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary);
  filter: opacity(0.5);
}
.visible {
  display: block;
  animation: show var(--speed) ease-out forwards;
}
@-moz-keyframes show {
  0% {
    opacity: 0;
    margin-right: 100vw;
  }
  100% {
    margin-right: 0px;
    opacity: 1;
  }
}
@-webkit-keyframes show {
  0% {
    opacity: 0;
    margin-right: 100vw;
  }
  100% {
    margin-right: 0px;
    opacity: 1;
  }
}
@-o-keyframes show {
  0% {
    opacity: 0;
    margin-right: 100vw;
  }
  100% {
    margin-right: 0px;
    opacity: 1;
  }
}
@keyframes show {
  0% {
    opacity: 0;
    margin-right: 100vw;
  }
  100% {
    margin-right: 0px;
    opacity: 1;
  }
}
@-moz-keyframes remove {
  0% {
    opacity: 1;
    margin-top: 0px;
  }
  100% {
    margin-top: 100px;
    opacity: 0;
  }
}
@-webkit-keyframes remove {
  0% {
    opacity: 1;
    margin-top: 0px;
  }
  100% {
    margin-top: 100px;
    opacity: 0;
  }
}
@-o-keyframes remove {
  0% {
    opacity: 1;
    margin-top: 0px;
  }
  100% {
    margin-top: 100px;
    opacity: 0;
  }
}
@keyframes remove {
  0% {
    opacity: 1;
    margin-top: 0px;
  }
  100% {
    margin-top: 100px;
    opacity: 0;
  }
}
.bridge {
  background-color: var(--primary);
}
.bridge::before {
  content: '';
  position: absolute;
  width: 242px;
  height: 100%;
  background-color: var(--secondary);
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.inner--bottom {
  position: absolute;
  top: calc(50% - 35%);
  width: 80%;
  left: calc(42px + var(--pad));
  height: 70%;
  background-color: var(--bgcolor);
  z-index: 10;
  box-shadow: var(--sh);
  overflow: hidden;
}
.footer {
  position: fixed;
  bottom: calc(var(--bar) * -1);
  background: var(--secondary);
  height: var(--bar);
  left: var(--side-nav-width);
  right: 0;
  transform: translateY(-4px);
  transition: var(--prim-anim);
  display: grid;
  justify-content: end;
  grid-auto-flow: column;
  grid-gap: var(--pad);
  padding: 0 var(--pad);
  z-index: 999;
}
.footer__link {
  font-size: 0.8em;
  display: flex;
  align-items: center;
  color: var(--accent1);
}
.anim-on-click {
  animation: mousestripe 1s infinite;
}
.hide {
  display: none;
}
.slide-up {
  transform: translateY(calc(var(--bar) * -1));
  transition: var(--prim-anim);
}
.accent {
  background-image: var(--accent1-grad) !important;
}
.blurred {
  filter: blur(1px) brightness(90%) grayscale(100%);
}
@-moz-keyframes movestripe {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100 0;
  }
}
@-webkit-keyframes movestripe {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100 0;
  }
}
@-o-keyframes movestripe {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100 0;
  }
}
@keyframes movestripe {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100 0;
  }
}
.abs {
  position: absolute;
}
.img {
  object-fit: cover;
}
.thumbnail {
  filter: brightness(50%) blur(0px) grayscale(100%) contrast(110%);
  transform: scale(1);
  cursor: pointer;
  transition: 0.8s all ease-out;
}
.thumbnail:hover {
  filter: brightness(100%) blur(0px) grayscale(0%) contrast(110%);
  transform: scale(1.05);
}
.black {
  color: #000;
}
.item__group {
  overflow: hidden;
  transition: var(--prim-anim);
  border: 1px solid #141414;
  box-shadow: 0 1px 40px 4px rgba(255,255,255,0.1);
}
.item__group * {
  transition: var(--prim-anim);
  transition-duration: 1s;
}
.item__group .item__image {
  filter: blur(0px) brightness(40%) grayscale(100%);
}
.item__group:hover .item__image {
  transition-duration: 8s;
  transform: scale(1.2);
  filter: blur(0px) brightness(40%) grayscale(100%);
}
.item__group::after {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 200%;
  height: 100%;
  background: repeating-linear-gradient(45deg, var(--gray), var(--gray) 6px, #000 6px, #000 40px);
  opacity: 0;
  transition: 1s all ease-out;
  z-index: 0;
}
.item__group:hover::after {
  left: 0;
  opacity: 0;
  transition: 1s all ease-out;
}
.player {
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  background-color: #f00;
  font-size: 0;
  overflow: hidden;
}
.player * {
  font-family: var(--font);
}
.player:fullscreen {
  max-width: none;
  width: 100%;
}
.player:-webkit-full-screen {
  max-width: none;
  width: 100%;
}
.player__video {
  width: 100%;
}
.player__button {
  background: none;
  border: 0;
  line-height: 1;
  color: #fff;
  text-align: center;
  outline: 0;
  padding: 0;
  cursor: pointer;
  max-width: 50px;
}
.player__button:focus {
  border-color: #ffc600;
}
.player__slider {
  width: 10px;
  height: 30px;
}
.player__controls {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(100%) translateY(-5px);
  transition: all 0.3s;
  flex-wrap: wrap;
  background: rgba(0,0,0,0.1);
}
.player:hover .player__controls {
  transform: translateY(0);
}
.player:hover .progress {
  height: 8px;
}
.player__controls > * {
  flex: 1;
}
.progress {
  flex: 10;
  position: relative;
  display: flex;
  flex-basis: 100%;
  height: 4px;
  transition: height 0.3s;
  background: rgba(0,0,0,0.5);
  cursor: ew-resize;
}
.progress__filled {
  width: 50%;
  background: #ffc600;
  flex: 0;
  flex-basis: 50%;
}
input[type=range] {
  -webkit-appearance: none;
  background: transparent;
  width: 100%;
  margin: 0 5px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0,0,0,0), 0 0 1px rgba(13,13,13,0);
  background: rgba(255,255,255,0.8);
  border-radius: 1.3px;
  border: 0.2px solid rgba(1,1,1,0);
}
input[type=range]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #ffc600;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #bada55;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0,0,0,0), 0 0 1px rgba(13,13,13,0);
  background: #fff;
  border-radius: 1.3px;
  border: 0.2px solid rgba(1,1,1,0);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0 0 0 rgba(0,0,0,0), 0 0 0 rgba(13,13,13,0);
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #ffc600;
  cursor: pointer;
}
.toggle {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: transparent;
  padding: 0.5em 1em;
  font-family: Oswald;
  transition: var(--prim-anim);
}
:root {
  --secondary: #000;
  --mp__widget-height: 80px;
}
.player-container * {
  margin: 0;
}
ul,
li {
  list-style: none;
  padding: 0;
}
.player-container {
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 1px 40px 4px rgba(255,255,255,0.1);
}
.mp {
  position: relative;
  width: inherit;
  height: var(--snug);
  overflow: hidden;
  overflow-y: scroll;
}
.mp__widget {
  position: absolute;
  width: inherit;
  height: var(--mp__widget-height);
  background: var(--secondary);
  box-shadow: 0 1px 40px 4px rgba(255,255,255,0.1);
  border: 1px solid var(--accent1);
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}
.mp__cover-art {
  width: calc(50px + 3em);
  height: calc(100% + 2em);
  margin-left: -1em;
  filter: blur(1pt);
}
.overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: calc(50px + 3em);
  height: calc(100%);
  background-image: repeating-linear-gradient(45deg, var(--gray), var(--gray) 6px, var(--secondary) 6px, var(--secondary) 20px);
  z-index: 2;
}
.artist-name {
  font-weight: bold;
}
.mp__song-name {
  font-weight: lighter;
}
.mp__icon {
  display: block;
  width: 15px;
  height: 15px;
  background-color: #141414;
}
.mp__center {
  display: flex;
  align-items: center;
}
.volume {
  width: 15px;
  height: 15px;
  background-color: #141414;
}
.mp__progress {
  width: 300px;
  height: 4px;
  background-color: #141414;
  margin: 0 20px;
}
.mp__progress--fill {
  display: block;
  width: 60%;
  margin-left: -5px;
  height: inherit;
  background-color: var(--accent1);
}
.mp__progress--fill::before {
  content: "";
  display: block;
  float: right;
  width: 10px;
  height: 10px;
  background-color: inherit;
  border-radius: 50%;
  margin-top: -3px;
}
.mp__icon-list {
  width: 10%;
  display: flex;
  justify-content: space-between;
}
.mp__songs {
  margin-top: var(--mp__widget-height);
}
.mp__song {
  position: relative;
  max-width: 100%;
  width: calc(100% + 1em);
  height: 50px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  padding: 0 1em;
  display: grid;
  grid-template: 1fr/100px minmax(150px, 1fr) minmax(100px, 1fr) 100px;
  align-items: center;
  cursor: pointer;
  filter: brightness(80%);
}
.song__artist {
  display: none;
}
.playing .song__artist {
  display: block;
  opacity: 0.9;
  margin-left: -1em;
  font-size: 0.7em;
  font-weight: lighter;
}
.song__duration {
  position: absolute;
  width: 100px;
  height: 1em;
  line-height: 1em;
  text-align: end;
  top: calc(50% - 0.5em);
  right: 1em;
}
.mp__song:hover {
  background-color: #141414;
}
.mp__song.playing {
  background-color: var(--gray);
  animation: playing var(--speed) ease-out forwards;
}
.mp__song.playing * {
  filter: brightness(100%);
  color: var(--secondary);
}
.mp__song.mp__song.playing .mp__icon {
  background-color: #fff;
}
.mp__song:not(.playing) {
  opacity: 0.9;
}
.inline__widget {
  width: 420px;
  height: 40px;
  grid-template-columns: 40px 1fr 40px;
  background-color: transparent;
  margin-left: -10px;
  border: 4px solid var(--secondary);
  box-shadow: -4px 4px 0 0 var(--accent1);
}
@-moz-keyframes playing {
  to {
    height: 70px;
  }
}
@-webkit-keyframes playing {
  to {
    height: 70px;
  }
}
@-o-keyframes playing {
  to {
    height: 70px;
  }
}
@keyframes playing {
  to {
    height: 70px;
  }
}
.quilt {
  height: 400px;
  background-color: var(--secondary);
  display: grid;
  grid-auto-flow: column;
  grid-gap: calc(var(--pad));
  padding: calc(var(--pad) * 2 + 100px);
  justify-content: end;
  align-items: center;
  z-index: 10;
}
.quilt::after {
  content: '';
  position: absolute;
  display: none;
  width: 100px;
  height: 100px;
  right: 0;
  background: repeating-linear-gradient(45deg, var(--accent1), var(--accent1) 6px, transparent 6px, transparent 30px);
  z-index: 100;
}
.quilt__head {
  color: var(--gray) !important;
}
.quilt__item {
  position: relative;
  width: calc(var(--pad) * 5);
  height: calc(var(--pad) * 5);
  text-align: center;
  overflow: hidden;
}
.quilt__item * {
  transition: 0.4 all ease-out;
}
.quilt__item::before {
  content: '';
  position: absolute;
  width: 200%;
  height: 100%;
  left: -95%;
  background-image: repeating-linear-gradient(45deg, var(--accent1), var(--accent1) 6px, var(--secondary) 6px, var(--secondary) 30px);
}
.quilt__item svg {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: var(--accent1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  transition: 0.4s all ease-out;
}
.quilt__item:hover::before {
  transition: 8s all;
  left: 1px;
}
.quilt__item:hover svg {
  transition: 0.4s all ease-out;
  transform: translate(-50%, -50%) scale(1.2);
}
.quilt * {
  display: block;
}
.last {
  display: grid;
  justify-content: center;
  align-items: center;
}
.last__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: brightness(20%) grayscale(100%);
}
.last__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, var(--secondary), transparent);
  z-index: 10;
}
.last__inner {
  display: grid;
  height: 60%;
  width: 60vw;
  transform: translateY(-10%);
  background-color: var(--secondary);
  box-shadow: 0 1px 40px 4px rgba(255,255,255,0.1);
  padding: var(--pad) calc(var(--pad) * 2);
  align-items: end;
  z-index: 10;
}
.last__email {
  display: grid;
  grid-template-columns: 1fr 150px;
  grid-auto-flow: column;
  max-width: 40vw;
  height: 50px;
  background-color: #f00;
  border: 2px solid var(--accent1);
}
.email-submit {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  width: 100%;
  height: 100%;
  font-family: Oswald;
  background-color: var(--accent1);
  border-left: 2px solid var(--secondary);
}
.last__input {
  margin: 0;
  width: 100%;
  background-color: var(--secondary);
  color: var(--gray);
}
.last__text .section__prehead {
  background-color: var(--secondary);
}
.last__text .section__head {
  color: var(--gray);
}
@media screen and (max-width: 900px) {
  :root {
    --main-width: 100%;
  }
  .nav--left {
    display: none;
  }
  .hero {
    margin-left: 0;
  }
  .logo {
    display: block;
  }
  .featured,
  .playlist,
  .featured__list {
    margin: 0;
    left: 0;
    right: 0;
  }
}
