@font-face {
  font-family: 'druk';
  src: url("../fonts/DrukTextWide-Bold.ttf") format('truetype');
}
.logo {
  font-family: 'druk';
  font-size: 1.2em;
  font-weight: 600;
}
:root {
  --primary: #fff;
  --secondary: #000;
  --gray: #b9b9b9;
  --twvh: 0;
  --after-top: calc(100% - var(--deco-bar) * 2);
  --after-left: calc(var(--sect-40-width) / 2);
  --twvh: 20vh;
  --snug: calc(100% - var(--pad) * 4 - 8px);
  --sect-40-width: calc(var(--side-nav-width) * 2);
  --sect-60-width: calc(100% - var(--sect-40-width) - var(--pad));
  --side-nav-width: 18vw;
  --stripe-height: 40vh;
  --main-width: calc(100% - var(--side-nav-width));
  --deco-bar: calc(var(--bar) / 3);
  --bar: 80px;
  --pad: var(--deco-bar);
  --sect-40-width: calc(var(--side-nav-width) * 2);
}
* {
  color: var(--secondary);
}
body {
  height: 100%;
  background-color: var(--secondary);
  cursor: crosshair;
}
.hero__head {
  font-family: 'druk';
}
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  font-family: 'oswald';
  overflow-x: hidden;
}
a,
ul,
li,
button {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  outline: none;
  appearance: none;
  border: none;
}
button {
  cursor: pointer;
}
.bottom {
  bottom: 0;
}
.top {
  top: 0;
}
.left {
  bottom: 0;
}
.right {
  right: 0;
}
.inner {
  width: 100%;
  height: 2em;
  background-color: var(--test-3);
  align-self: center;
}
.inner--flex {
  display: flex;
  justify-content: space-between;
}
.inner * {
  align-self: center;
}
.logo {
  position: relative;
  display: flex;
  padding: 4px;
  color: var(--gray);
  background-color: var(--secondary);
}
.logo::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 200%;
  margin-left: -50%;
  margin-top: -20%;
  z-index: -1;
  background-image: repeating-linear-gradient(45deg, var(--gray), var(--gray) 6px, var(--secondary) 6px, var(--secondary) 40px);
  background-position: 0 0;
  background-repeat: repeat-x;
  animation: movestripe 1s linear infinite;
}
.logo span:first-child {
  position: relative;
  color: var(--gray);
  text-shadow: -2px -2px 0 var(--secondary);
}
.bg {
  position: absolute;
  width: 100%;
  right: 0px;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  object-fit: cover;
  filter: grayscale(100%) brightness(80%);
  background-size: 100px 100px;
}
.nav--left {
  position: fixed;
  left: 0;
  width: var(--side-nav-width);
  height: 100%;
  z-index: 9999;
  background-color: var(--secondary);
  text-transform: uppercase;
  border-right: 1px solid rgba(0,0,0,0.3);
}
.nav--left * {
  color: var(--gray);
}
.split {
  position: absolute;
  width: 60px;
  height: 3px;
  top: calc(50vh - 9px);
  margin-left: var(--pad);
  box-shadow: 0 -3px 0 0 var(--gray), 0 3px 0 0 var(--gray), 0 9px 0 0 var(--gray);
  transform: rotate(45deg);
}
.main {
  position: absolute;
  right: 0;
  width: var(--main-width);
  height: 100%;
}
.head {
  height: 100vh;
}
.wide {
  width: 100vw;
  background-color: var(--test-2);
}
.sect-40 {
  width: var(--sect-40-width);
  height: 100%;
  display: flex;
}
.sect-40::after {
  content: '';
  position: absolute;
  left: var(--after-left);
  right: 0;
  top: var(--after-top);
  bottom: 0;
  background-color: var(--secondary);
  z-index: 2;
  outline: 2px solid #fff;
  box-shadow: -4px -4px 0 0 var(--secondary);
  mix-blend-mode: multiply;
}
.nav__span {
  position: absolute;
  width: 100%;
  height: var(--bar);
  padding: var(--pad);
  display: flex;
}
.nav__span:nth-of-type(2) {
  background-color: var(--primary);
}
.icon {
  width: var(--deco-bar);
  height: var(--deco-bar);
}
.col {
  position: relative;
  display: flex;
  flex-basis: 50%;
  padding-bottom: var(--pad);
}
.split ~ .bottom {
  background-image: repeating-linear-gradient(45deg, var(--gray), var(--gray) 6px, var(--secondary) 6px, var(--secondary) 30px);
  background-position: 0 0;
  background-repeat: repeat-x;
  animation: movestripe 1s linear infinite;
}
.pad--top {
  margin-top: 2.5em;
}
.pad--top * {
  align-self: center;
}
.pad--top .pad__item {
  position: relative;
  display: flex;
  padding-right: 1em;
}
.pad--top .pad__item .icon {
  margin-right: 2em;
}
.pad--top .pad__item:first-child {
  font-size: 0.9em;
  margin-bottom: 25vh;
}
.arrow {
  position: relative;
  margin-left: 1.3em;
  width: 80px;
  height: 2px;
  background-color: var(--secondary);
}
.hero {
  position: absolute;
  width: 200%;
  height: 40%;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transform: translateY(-4em);
  mix-blend-mode: multiply;
}
.hero__txt {
  margin-bottom: 1em;
}
.hero__main {
  height: 80%;
  margin-top: 1.2em;
  margin-bottom: 0;
  font-size: 0.9em;
  font-weight: 300;
}
.hori {
  height: 2em;
  width: 200px;
  position: relative;
  display: flex;
  align-items: center;
}
.hori .text {
  font-weight: 400;
  color: var(--primary);
}
.hori::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: var(--secondary);
  z-index: -1;
}
.sect-60 {
  position: absolute;
  width: var(--sect-60-width);
  top: var(--pad);
  right: var(--pad);
  bottom: var(--pad);
  z-index: -1;
}
.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'roboto black';
}
.link__text {
  font-size: 0.9em;
}
.link--top-right {
  position: absolute;
  right: 0;
}
.right {
  position: absolute;
  right: 0px;
}
.mid-top {
  margin-top: calc(55%);
}
.r-90 {
  width: 1em;
  height: 100px;
}
.r-90 span {
  transform: translateX(-1.2em) rotate(-90deg);
}
.social {
  --h: 100px;
  position: absolute;
  width: 20px;
  height: var(--h);
  right: 0px;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: calc(50% - var(--h) / 2);
}
.social__icon {
  background-color: var(--secondary);
  width: 100%;
  height: 20%;
}
.email {
  background-color: var(--secondary);
  padding: 4px;
  width: 130px;
}
.blur {
  position: absolute;
  width: 80vw;
  height: 60vw;
  background-color: var(--primary);
  margin: 40vh 0 0 var(--twvh);
  z-index: -1;
  opacity: 0.4;
  filter: blur(1px);
  overflow: hidden;
}
.container {
  --new-pad: calc(var(--pad) * 2);
  position: relative;
  widows: 100%;
  height: 100vh;
  padding: var(--new-pad);
  background-color: var(--secondary);
}
.featured,
.playlists {
  margin-left: calc(var(--sect-40-width) / 2 - var(--pad));
  background-color: var(--secondary);
  height: 100%;
  width: calc(100% - var(--twvh) - var(--pad) * 2);
}
.featured *,
.playlists * {
  color: var(--gray);
  margin: 8px 0;
}
.featured__list,
.playlists__list {
  position: absolute;
  margin-top: 1em;
  left: var(--twvh);
  right: var(--pad);
  background-color: var(--secondary);
  display: grid;
  grid-template-columns: repeat(3, minmax(140px, 1fr));
  grid-template-columns: repeat(3, minmax(140px, 1fr));
  grid-column-gap: var(--pad);
  grid-auto-flow: row;
}
.featured__list .item,
.playlists__list .item {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.featured__list .item *,
.playlists__list .item * {
  flex: 1;
}
.featured__list .item__image,
.playlists__list .item__image {
  flex: 99999;
  border: 1px solid var(--secondary);
  background-image: repeating-linear-gradient(45deg, var(--gray), var(--gray) 6px, var(--secondary) 6px, var(--secondary) 40px);
  background-position: 0 0;
  background-repeat: repeat-x;
  animation: movestripe 1s linear infinite;
}
.featured__list .item__caption,
.playlists__list .item__caption {
  height: 1em;
  display: flex;
  padding: 0 4px;
  justify-content: space-between;
}
.featured__list .item__caption .text,
.playlists__list .item__caption .text {
  flex: 99999;
}
.featured__list .item__caption .actions,
.playlists__list .item__caption .actions {
  flex: 2;
  position: relative;
  display: flex;
}
.featured__list .item__caption .actions .icon,
.playlists__list .item__caption .actions .icon {
  width: 10px;
  height: 10px;
  background-color: var(--gray);
}
.featured__list .item__caption .actions .icon--play,
.playlists__list .item__caption .actions .icon--play {
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}
.debug:nth-of-type(odd) {
  background-color: #f00;
}
.debug:nth-of-type(odd) * {
  border: 1px solid #800080;
}
.debug:nth-of-type(even) {
  background-color: #ffefd5;
}
.debug:nth-of-type(even) * {
  border: 1px solid var(--secondary);
}
.playlist__list {
  width: 100%;
  height: var(--snug);
  background-color: #ffc0cb;
}
.controls {
  position: absolute;
  width: 50px;
  height: 150px;
  top: calc(50% - 75px);
  left: var(--twvh);
  display: flex;
  flex-direction: column;
}
.controls .prev,
.controls .next {
  flex: 1;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
}
.controls .prev .icon,
.controls .next .icon {
  width: 20px;
  height: 20px;
}
.anim-on-click {
  animation: mousestripe 1s infinite;
}
.hide {
  display: none;
}
.nav-up {
  width: 100vw;
  height: 10vh;
}
@-moz-keyframes movestripe {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100 0;
  }
}
@-webkit-keyframes movestripe {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100 0;
  }
}
@-o-keyframes movestripe {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100 0;
  }
}
@keyframes movestripe {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100 0;
  }
}
