@keyframes movestripe {
    from{
        background-position 0 0        
    }
    to{
        background-position 100 0
    }
}
.anim-on-click{
    animation: mousestripe 1s infinite;
}
.hide{
    display none
}
.slide-up
    transform translateY(calc(var(--bar) * -1))
    transition var(--prim-anim)
.accent
    background-color var(--accent1) !important
.blurred
    filter: blur(1px) brightness(90%) grayscale(100%)