@keyframes movestripe {
    from{
        background-position 0 0        
    }
    to{
        background-position 100 0
    }
}

.anim-on-click{
    animation: mousestripe 1s infinite;
}
.hide{
    display none
}
.nav-up
    --side-nav-width: 20vw