.abs
    position absolute
    width 100px
.img
    object-fit: cover
.thumbnail
    filter: brightness(50%) blur(0px) grayscale(100%) contrast(110%);
    transform: scale(1);
    cursor: pointer;
    transition .8s all ease-out;
    &:hover
        filter: brightness(100%) blur(0px) grayscale(0%) contrast(110%);
        transform scale(1.05)
.black
    color #000
//https://mtn.co.ca/pages/lightyourfire.aspx