.footer
    position fixed
    bottom calc(var(--bar) * -1)
    height var(--bar)
    left 0
    right 0
    background-image var(--accent1-grad)
    z-index 9999
    transform translateY(-4px)
    transition var(--prim-anim)