.footer
    position fixed
    bottom calc(var(--bar) * -1)
    background-image var(--accent1-grad)
    height var(--bar)
    left var(--side-nav-width)
    right 0
    padding var(--pad)
    z-index 9999
    transform translateY(-4px)
    transition var(--prim-anim)
    justify-content: flex-end;
    align-items: center;