.footer
    position fixed
    bottom calc(var(--bar) * -1)
    height var(--bar)
    left calc(var(--side-nav-width) + 40% + var(--pad))
    right 0
    background-color var(--secondary)
    z-index 9999
    transform translateY(-4px)
    transition var(--prim-anim)