$sq = calc(var(--pad) *5);

.quilt{
    height 400px
    background-color var(--secondary)
    display grid
    grid-auto-flow: column
    grid-gap: calc(var(--pad))
    padding calc(var(--pad) * 2 + 100px)
    justify-content: end
    align-items: center
    z-index 10
    &::after{
        content ''
        position absolute
        display none
        width 100px
        height 100px
        right 0
        background repeating-linear-gradient(
            45deg,
            var(--accent1),
            var(--accent1) 6px,
            transparent 6px,
            transparent 30px
        )
        z-index 100
    }
    &__head{
        color var(--gray) !important
    }
    &__item{
        position relative
        width $sq
        height $sq
        text-align center
        overflow hidden
        *{
            transition .4 all ease-out
            }
        &::before{
            content ''
            position absolute
            width 200%
            height 100%
            left -95%
            background-image repeating-linear-gradient(
            45deg,
            var(--accent1),
            var(--accent1) 6px,
            var(--secondary) 6px,
            var(--secondary) 30px
        )
        }
        svg{
            $a = 75px;
            position absolute
            width $a
            height $a
            background-color var(--accent1)
            top 50%
            left 50%
            transform translate(-50%,-50%)
            padding 20px
            transition .4s all ease-out
        }
        &:hover::before{
            transition 8s all
            left 1px
        }
        &:hover svg{
            transition .4s all ease-out
            transform translate(-50%, -50%) scale(1.2)
        }
    }
    *{
        display block
    }
}
.last{
    display grid
    justify-content center
    align-items: center
}
.last__bg{
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    filter: brightness(20%) grayscale(100%)
    }
.last__overlay{
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background linear-gradient(
        to bottom,
        var(--secondary),
        transparent
    )
    z-index 10
}
.last__inner{
    display grid
    height 60%
    width 60vw
    transform translateY(-10%)
    background-color var(--secondary)
    box-shadow: 0 1px 40px 4px rgba(255,255,255,0.1);
    padding var(--pad) calc(var(--pad) * 2)
    align-items: end;
    z-index 10
}
.last__email{
    display grid
    grid-template-columns: 1fr 150px
    grid-auto-flow: column
    max-width 40vw
    height 50px
    // background-color var(--accent1)
    // box-shadow -4px 4px 0 0 var(--accent1)
    // border 2px solid var(--accent1)
    outline 2px solid var(--accent1)
}
.email-submit{
    margin 0
    padding 0
    width 0
    height 0
    width 100%
    height 100%
    font-family Oswald
    background-color var(--accent1)
    // border-left 2px solid var(--secondary)
    outline 2px solid var(--accent1)
}
.last__input{
    margin 0
    width 100%
    background-color var(--secondary)
    color var(--gray)
}
.last__text{
    .section__prehead{
        background-color var(--secondary)
    }
    .section__head{
        color var(--gray)
    }
}