.bridge
    background-color var(--primary)
    &::before
        content: '';
        position: absolute;
        width: 242px;
        height: 100%;
        background-color: var(--secondary);
        top: 0;
        right: 0;
        bottom: 0;
        z-index 2
.inner--bottom
    position absolute
    top calc(50% - 35%)
    left calc(var(--pad) * 2)
    left calc(42px + var(--pad))
    width 80%
    left calc(42px + var(--pad))
    height 70%
    background-color var(--bgcolor)
    z-index 10
    box-shadow var(--sh)
    overflow hidden
