.bridge
    background-image linear-gradient(
        to bottom,
        var(--primary),
        var(--secondary)
    )
    &::before
        content: '';
        position: absolute;
        width: 242px;
        height: 100%;
        background-color: var(--secondary);
        top: 0;
        right: 0;
        bottom: 0;
.inner--bottom
    position absolute
    bottom 0
    left 0
    width 100%
    height 80%
    background-color var(--secondary)
